.App{
  box-sizing: border-box;
}
.landpic{

 
 
 height: 440px;
}
.container{
text-align: center;
padding: 30px;
margin: 15px;
width: 100%;
background-image: url('./assets/Does-espresso-or-coffee-have-more-caffeine.jpg');
background-repeat: no-repeat;
height: 400px;
background-size: cover;
width: 95%;
}
.icon{
  color: aliceblue;
  
}
.container-land{
 display: flex;
 height: 560px;
  background-color: #fe9e62df;
  background-size: cover;
  
   background-repeat: no-repeat;
   color: rgb(96, 33, 2);
   font-family: 'Times New Roman', Times, serif;
   font-size: large;
   
}
button{
  color: wheat;
  padding: 12px 15px;
  border-radius: 10px;
  font-weight: 600;
  background-color: #9b450fda;
  margin: 4px;
}

.container{
  justify-self: center;
  display: inline-flex;
  margin: 5px;
  
}
.nav {
  background-color: rgb(96, 33, 2);
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 0;
  width: 100%;
  
}

.nav  li {
  display: inline-block;
  font-size: 20px;
  padding: 20px;
  list-style: none;
}
a{
  color: aliceblue;
  list-style: none;
}
.grid-container {
  display: grid;
  gap: 50px 100px;
  grid-template-columns: auto auto auto;
  background-color: #9b450fda;
  padding: 10px;
}

.grid-item {
  background-color: #f3a575da ;
  border: 1px solid #5d2502da;
  padding: 20px;
  font-size: 30px;
  text-align: center;
  width: 200px;
}
.coffimg{
  height: 370px;
  width: 220px;
}
.card{
margin: 5px;
  padding: 2px;
  border-radius: 10px;
   
  width: 300px;
  background-color: #f3a575da ;
}
.coffees-con{
  display: grid;
  gap: 50px 20px;
  grid-template-columns: auto auto auto;
  
  padding: 10px;
 
  
}